server:
  port: 8083

services:
  ingestion:
    base-url: http://localhost:8080

spring:
  application:
    name: rag-app

  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB

logging:
  level:
    yuuine.ragapp: debug

  file:
    name: ./logs/application.log

  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 7
      total-size-cap: 1GB